<!-- <div class='main-side-menu'>
  <%= image_tag 'kitchens.png'  %>
  <%= image_tag 'bathrooms.png' %>
  <%= image_tag 'remodels.png'  %>
  <%= image_tag 'testimonials.png' %>
  <%= image_tag 'yelp.png' %>
  <%= image_tag 'facebook.png' %>
  <%= image_tag 'google.png' %>
</div> -->

<%= render 'main/carousel' %>